@font-face {
  font-family: "IconFont";
  src: url('../fonts/icons/IconFont.eot');
  src: url('../fonts/icons/IconFont.eot?#iefix') format('eot'), url('../fonts/icons/IconFont.woff2') format('woff2'), url('../fonts/icons/IconFont.woff') format('woff'), url('../fonts/icons/IconFont.ttf') format('truetype'), url('../fonts/icons/IconFont.svg#IconFont') format('svg');
}
.icon-base-pseudo,
.icon-account:before,
.icon-app:before,
.icon-app2:before,
.icon-bug:before,
.icon-clock:before,
.icon-code:before,
.icon-container:before,
.icon-device-settings:before,
.icon-device:before,
.icon-explore:before,
.icon-gift:before,
.icon-help:before,
.icon-logout:before,
.icon-memory:before,
.icon-notification:before,
.icon-organisation:before,
.icon-people:before,
.icon-phone:before,
.icon-premium:before,
.icon-screen:before,
.icon-settings-mini:before,
.icon-settings:before,
.icon-shopping-cart:before,
.icon-star:before,
.icon-storage:before,
.icon-timelapse:before,
.icon-usb:before,
.icon-vpn:before {
  font-family: "IconFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}
.icon-account:before {
  content: "\E001";
}
.icon-app:before {
  content: "\E002";
}
.icon-app2:before {
  content: "\E003";
}
.icon-bug:before {
  content: "\E004";
}
.icon-clock:before {
  content: "\E005";
}
.icon-code:before {
  content: "\E006";
}
.icon-container:before {
  content: "\E007";
}
.icon-device-settings:before {
  content: "\E008";
}
.icon-device:before {
  content: "\E009";
}
.icon-explore:before {
  content: "\E00A";
}
.icon-gift:before {
  content: "\E00B";
}
.icon-help:before {
  content: "\E00C";
}
.icon-logout:before {
  content: "\E00D";
}
.icon-memory:before {
  content: "\E00E";
}
.icon-notification:before {
  content: "\E00F";
}
.icon-organisation:before {
  content: "\E010";
}
.icon-people:before {
  content: "\E011";
}
.icon-phone:before {
  content: "\E012";
}
.icon-premium:before {
  content: "\E013";
}
.icon-screen:before {
  content: "\E014";
}
.icon-settings-mini:before {
  content: "\E015";
}
.icon-settings:before {
  content: "\E016";
}
.icon-shopping-cart:before {
  content: "\E017";
}
.icon-star:before {
  content: "\E018";
}
.icon-storage:before {
  content: "\E019";
}
.icon-timelapse:before {
  content: "\E01A";
}
.icon-usb:before {
  content: "\E01B";
}
.icon-vpn:before {
  content: "\E01C";
}
body {
  font-family: "IconFont";
  font-size: 120px;
  color: #000;
  display: flex;
  flex-wrap: wrap;
}
body div {
  margin: 10px;
}
