@font-face {
  font-family: "IconFont";
  src: url('../fonts/icons/IconFont.eot');
  src: url('../fonts/icons/IconFont.eot?#iefix') format('eot'), url('../fonts/icons/IconFont.woff2') format('woff2'), url('../fonts/icons/IconFont.woff') format('woff'), url('../fonts/icons/IconFont.ttf') format('truetype'), url('../fonts/icons/IconFont.svg#IconFont') format('svg');
}
.icon-base-pseudo,
.icon-explore:before,
.icon-help:before,
.icon-notification:before {
  font-family: "IconFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}
.icon-explore:before {
  content: "\E001";
}
.icon-help:before {
  content: "\E002";
}
.icon-notification:before {
  content: "\E003";
}
body {
  font-family: "IconFont";
  font-size: 50px;
  color: #ff00ff;
}
