@font-face {
	font-family: "IconFont";
	src: url('../fonts/icons/IconFont.eot');
	src: url('../fonts/icons/IconFont.eot?#iefix') format('eot'),
		url('../fonts/icons/IconFont.woff2') format('woff2'),
		url('../fonts/icons/IconFont.woff') format('woff'),
		url('../fonts/icons/IconFont.ttf') format('truetype'),
		url('../fonts/icons/IconFont.svg#IconFont') format('svg');
}

.icon-base-pseudo {
	font-family: "IconFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

.icon-char(@filename) {
	@account: "\E001";
	@app: "\E002";
	@app2: "\E003";
	@bug: "\E004";
	@clock: "\E005";
	@code: "\E006";
	@container: "\E007";
	@device-settings: "\E008";
	@device: "\E009";
	@explore: "\E00A";
	@gift: "\E00B";
	@help: "\E00C";
	@logout: "\E00D";
	@memory: "\E00E";
	@notification: "\E00F";
	@organisation: "\E010";
	@people: "\E011";
	@phone: "\E012";
	@premium: "\E013";
	@screen: "\E014";
	@settings-mini: "\E015";
	@settings: "\E016";
	@shopping-cart: "\E017";
	@star: "\E018";
	@storage: "\E019";
	@timelapse: "\E01A";
	@usb: "\E01B";
	@vpn: "\E01C";
	
	content: @@filename;
}

.icon(@filename, @insert: before) {
	@pseudo-selector: ~":@{insert}";

	&@{pseudo-selector} {
		&:extend(.icon-base-pseudo);
		.icon-char(@filename);
	}
}

.icon-account {
	.icon(account);
}
.icon-app {
	.icon(app);
}
.icon-app2 {
	.icon(app2);
}
.icon-bug {
	.icon(bug);
}
.icon-clock {
	.icon(clock);
}
.icon-code {
	.icon(code);
}
.icon-container {
	.icon(container);
}
.icon-device-settings {
	.icon(device-settings);
}
.icon-device {
	.icon(device);
}
.icon-explore {
	.icon(explore);
}
.icon-gift {
	.icon(gift);
}
.icon-help {
	.icon(help);
}
.icon-logout {
	.icon(logout);
}
.icon-memory {
	.icon(memory);
}
.icon-notification {
	.icon(notification);
}
.icon-organisation {
	.icon(organisation);
}
.icon-people {
	.icon(people);
}
.icon-phone {
	.icon(phone);
}
.icon-premium {
	.icon(premium);
}
.icon-screen {
	.icon(screen);
}
.icon-settings-mini {
	.icon(settings-mini);
}
.icon-settings {
	.icon(settings);
}
.icon-shopping-cart {
	.icon(shopping-cart);
}
.icon-star {
	.icon(star);
}
.icon-storage {
	.icon(storage);
}
.icon-timelapse {
	.icon(timelapse);
}
.icon-usb {
	.icon(usb);
}
.icon-vpn {
	.icon(vpn);
}